# 5)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
## a)	Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.
## b)	Top 10 ODI Batsmen along with the records of their team and rating.
## c)	Top 10 ODI bowlers along with the records of their team and rating.

In [1]:
import requests
from bs4 import BeautifulSoup

In [19]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [20]:
url = pd.read_html("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
url[0][0:10]

   Pos           Team  T  Matches  M  Points  P  Rating  R
0    1   New Zealand  NZ          25       2887        115
1    2      England  ENG          30       3400        113
2    3    Australia  AUS          32       3572        112
3    4        India  IND          39       4238        109
4    5     Pakistan  PAK          24       2584        108
5    6  South Africa  SA          24       2392        100
6    7   Bangladesh  BAN          33       3129         95
7    8     Sri Lanka  SL          32       2858         89
8    9  Afghanistan  AFG          20       1419         71
9   10   West Indies  WI          41       2902         71

In [33]:
url_batsmen = pd.read_html("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
batsmen_df = url_batsmen[0]

In [34]:
batsmen_df.drop(columns=['Pos','Career Best Rating'],inplace=True)
batsmen_df[0:10]

                  Player Team  Rating
0             Babar Azam  PAK     891
1  Rassie van der Dussen   SA     766
2            Imam-ul-Haq  PAK     764
3        Quinton de Kock   SA     759
4           David Warner  AUS     747
5            Virat Kohli  IND     726
6            Steve Smith  AUS     719
7           Rohit Sharma  IND     715
8         Jonny Bairstow  ENG     710
9           Fakhar Zaman  PAK     695

In [36]:
url_bowler = pd.read_html("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
bowler_df = url_bowler[0]

In [37]:
bowler_df.drop(columns=['Pos','Career Best Rating'],inplace=True)
bowler_df[0:10]

              Player Team  Rating
0        Trent Boult   NZ     744
1     Josh Hazlewood  AUS     727
2     Mitchell Starc  AUS     665
3        Rashid Khan  AFG     659
4         Matt Henry   NZ     656
5         Adam Zampa  AUS     655
6     Shaheen Afridi  PAK     654
7    Shakib Al Hasan  BAN     652
8  Mustafizur Rahman  BAN     638
9   Mujeeb Ur Rahman  AFG     637